<footer class="footer">
  <div class="layer-1">
    <div class="layer-2">
      <div class="tree-btn">
        <app-circle-button size="xl" route="profile">
          <img class="tree-icon" src="/svg/tree.svg" alt="Tree" />
        </app-circle-button>
      </div>
    </div>
    <div class="layer-3 layer-3-1"></div>
    <div class="layer-3 layer-3-2"></div>
    <div class="layer-4 layer-4-1"></div>
    <div class="layer-4 layer-4-2"></div>
  </div>
  <div class="buttons">
    <app-circle-button icon="home" />
    <app-circle-button icon="person"/>
  </div>
</footer>
