app-tree {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  background: rgba(233, 228, 228, 0.6);
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

button {
  position: relative;
  overflow: hidden;
}

#board-container {
  width: calc(100vw - 5rem);
  height: calc(100vh - 5rem);
  overflow: hidden;
  position: relative;
}

#board {
  width: 2000px; /* Установите достаточный размер для вашей "доски" */
  height: 2000px; /* Установите достаточный размер для вашей "доски" */
  position: absolute;
  top: 0;
  left: 0;
}

app-tree-item {
  position: absolute;
  /* Установите позицию для каждого элемента */
  top: 100px;
  left: 100px;
}
