app-tree {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
  background: rgba(233, 228, 228, 0.6);
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

button {
  position: relative;
  overflow: hidden;
}

#board-container {
  width: 100vw;
  height: calc(100vh - 5rem);
  overflow: hidden;
  position: relative;
}

#board {
  position: relative; /* Изменено на relative */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-tree-item {
  position: absolute;
  /* Дополнительные стили */
}

#fit-button {
  position: absolute;
  bottom: 10rem;
  right: 2rem;
  z-index: 10;
}

