button.btn {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: var(--tg-theme-bg-color, hsl(152, 10%, 40%));

  mat-icon {
    margin: 0px !important;
    color: var(--tg-theme-text-color, #fff);
  }
}
.ripple {
  background-position: center;
  transition: background 0.6s;
}
.ripple:hover {
  background: #bacabc radial-gradient(circle, transparent 1%, #99aa9a 1%)
    center/15000%;
}
.ripple:active {
  background-size: 100%;
  transition: background 0s;
}
