button.btn {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: hsl(152, 10%, 40%);

  mat-icon {
    margin: 0px !important;
    color: hsl(152, 45%, 10%);
  }
}
.ripple {
  background-position: center;
  transition: background 0.6s;
}
.ripple:hover {
  background: #f0faf1 radial-gradient(circle, transparent 1%, #c6dbc7 1%)
    center/15000%;
}
.ripple:active {
  background-size: 100%;
  transition: background 0s;
}
