:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
//   app-header {
//     height: 4rem;
//     background-color: #f8f9fa; /* Можно изменить цвет по желанию */
//   }
  
  app-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Можно изменить цвет по желанию */
  }
  
//   app-footer {
//     height: 6rem;
//     background-color: #f8f9fa; /* Можно изменить цвет по желанию */
//   }
  